<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>House Loyalty</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/main.css">
</head>

<body>
    <div class="container-fluid" id="app">

        <header class="d-flex justify-content-between align-items-center px-4 py-2 mb-2">
            <div class="d-flex align-items-center">
                <img src="img/logo.png" alt="logo" class="imagen-logo me-3">
                <h1>TGIF</h1>
            </div>
            <a href="mailto:info@tgif.net" class="mail btn btn-light">
                <img src="img/email.ico" alt="email" class="email-icon me-2">
                <span>info@tgif.net</span>
            </a>

        </header>
        <nav class="border border-secondary nav p-3 mb-2">
            <ul class="nav  flex-sm-row flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Congress 113
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item  text-secondary" href="senate.html">Senate</a></li>
                        <li><a class="dropdown-item  text-secondary" href="house.html">House</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Attendance
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item  text-secondary" href="attendance-senate.html">Senate</a></li>
                        <li><a class="dropdown-item  text-secondary" href="attendance-house.html">House</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Party Loyalty
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item  text-secondary" href="loyalty-senate.html">Senate</a></li>
                        <li><a class="dropdown-item  text-secondary" href="loyalty-house.html">House</a></li>
                    </ul>
                </li>
            </ul>

        </nav>
        <main class="py-3 main-index container-fluid">
            <div class="row justify-content-between">
                <section class="col-lg-6 first-row">
                    <h2>Party Loyalty</h2>
                    <p>Those who consider themselves to be strong partisans, strong Democrats and strong Republicans
                        respectively, tend to be the most faithful in voting for their party's nominee for office and
                        legislation that backs their party's agenda.</p>
                </section>

                <section class="col-lg-5 first-row">
                    <h2 class="h5">House at a glance</h2>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Party</th>
                                <th>Number of Reps</th>
                                <th>% Voted with Party</th>
                            </tr>
                        </thead>
                        <tbody id="table-general">
                            <tr v-for="party in statistics.general">
                                <td>{{ party.name }}</td>
                                <td>{{ party.number }}</td>
                                <td>{{ party.voted_with_party_avg.toFixed(2) }} %</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </div>
            <div class="row justify-content-around statistic-tables">
                <section class="col-lg-6 first-row">
                    <h2 class="h5">Least Loyal (Bottom 10% of Party)</h2>
                    <table class="table table-hover">
                        <thead class="table-secondary">
                            <tr>
                                <th>Name</th>
                                <th>Number Party Votes</th>
                                <th>% Party Votes</th>
                            </tr>
                        </thead>
                        <tbody id="least-loyal">
                            <tr v-if="!statistics.least_loyal">
                                <td class="bg-light text-secondary text-center" colspan="3">loading...</td>
                            </tr>
                            <template v-else>
                                <tr v-for="member in statistics.least_loyal">
                                    <td><a v-bind:href="member.url">{{member.first_name}} {{member.middle_name || ''}}
                                            {{member.last_name}}</a></td>
                                    <td>{{ parseInt((member.votes_with_party_pct * member.total_votes) / 100) }}</td>
                                    <td>{{ member.votes_with_party_pct }} %</td>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                </section>

                <section class="col-lg-6 first-row">
                    <h2 class="h5">Most Loyal (Top 10% of Party)</h2>

                    <table class="table table-hover">
                        <thead class="table-secondary">
                            <tr>
                                <th>Name</th>
                                <th>Number Party Votes</th>
                                <th>% Party Votes</th>
                            </tr>
                        </thead>
                        <tbody id="most-loyal">
                            <tr v-if="!statistics.most_loyal">
                                <td class="bg-light text-secondary text-center" colspan="3">loading...</td>
                            </tr>
                            <template v-else>
                                <tr v-for="member in statistics.most_loyal">
                                    <td><a v-bind:href="member.url">{{member.first_name}} {{member.middle_name || ''}}
                                            {{member.last_name}}</a></td>
                                    <td>{{ parseInt((member.votes_with_party_pct * member.total_votes) / 100) }}</td>
                                    <td>{{ member.votes_with_party_pct }} %</td>
                                </tr>
                            </template>
                        </tbody>
                    </table>


                </section>

            </div>

        </main>
        <footer class="p-3 mb-1 border border-secondary text-center">&copy; 2016 TGIF | All Rights Reserved</footer>

    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="js/statistics.js"></script>
    <script type="text/javascript">
        renderRemoteData({
            url: "https://api.propublica.org/congress/v1/113/house/members.json",
        });
    </script>

    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
</body>

</html>